h1 {
    color: #03045e;
    font-size: 60px;
    text-align: center;
}
h2{
    color: #023e8a;
}
p{
    color: #48cae4;
}
body{
    background-color: #caf0f8;
}
ol{
    color: #0096c7;
}
h3{
    color: #0077b6 ;
}
th{
    color: #03045e;
}
td{
    color: #0077b6;
}